.portfolio-header {
    background: url('/img/wishes-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: -75px;
    &::after {
        content: '';
        background: linear-gradient(0deg, rgba(15,15,26,1) 0%, rgba(255,255,255,0) 100%);
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
    }
    .content-layout {
        text-align: center;
        padding: 15rem 8rem;
        position: relative;
        z-index: 1;
        .company-logo {
            max-width: 150px;
            margin-bottom: 24px;
        }
    }
}
.portfolio-header-img {
    position: relative;
}
.portfolio-content {
    .container {
        max-width: 800px;
        .content-layout {
            padding-top: 40px;
            .project-screens {
                display: flex;
                padding-top: 24px;
                gap:  24px;
                flex-wrap: wrap;
                justify-content: center;
                .image-box {
                    max-width: 220px;
                }
                .caption {
                    font-size: 12px;
                    width: 100%;
                    text-align: center;
                    margin: 0;
                    z-index: 0;
                }
            }
        }
    }
}
@media (max-width:1024px) {
    .portfolio-header {
    }
}
@media (max-width:768px) {
    .portfolio-header {
        .content-layout {
            padding: 10rem 0rem;
        }
    }
}