.hero {
  margin: 64px 0 0 0;
  padding: 1.5em 0;
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center; }
  .hero .content-layout {
    display: grid;
    gap: 20px;
    grid-template-columns: 28% 1fr 1fr; }
    .hero .content-layout div {
      width: 100%; }
    .hero .content-layout img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: span 1;
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover; }
    .hero .content-layout .content {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: span 3;
      background-color: var(--primary-800);
      padding: 1.5em;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
    .hero .content-layout .ui {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: span 2; }
    .hero .content-layout .front-end {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: span 2; }
    .hero .content-layout .blog {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: span 3;
      border: 1px solid #333639;
      border-radius: 12px;
      overflow: auto; }
      .hero .content-layout .blog .twitter-timeline.twitter-timeline-rendered {
        height: 100% !important; }
        .hero .content-layout .blog .twitter-timeline.twitter-timeline-rendered iframe {
          height: 100% !important; }
          .hero .content-layout .blog .twitter-timeline.twitter-timeline-rendered iframe .css-1dbjc4n.r-kemksi.r-1roi411.r-1q9bdsx.r-rs99b7.r-1udh08x {
            max-height: 100% !important; }
    .hero .content-layout .roadmap {
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: span 1; }
      .hero .content-layout .roadmap img {
        object-fit: cover;
        object-position: left;
        -webkit-box-shadow: inset 0px 0px 0px 2px #22262D;
        box-shadow: 0px 0px 0px 1px #22262D; }

.hero
.section3 {
  padding: 1.5em 0; }

.services .content-layout {
  display: flex;
  gap: 24px;
  flex-wrap: wrap; }

.projects .content-layout {
  display: flex;
  flex-direction: column;
  gap: 160px;
  padding: 100px 0; }

.portfolio-item {
  text-decoration: none;
  display: flex;
  gap: 24px; }
  .portfolio-item.reversed {
    flex-direction: row-reverse; }
  .portfolio-item .project-showcase {
    width: 65%;
    border-radius: 10px;
    object-fit: cover;
    transition: ease-in-out, 500ms; }
    .portfolio-item .project-showcase:hover {
      transform: scale(1.03); }

.portfolio-title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 40px; }
  .portfolio-title .company-logo {
    max-width: 130px; }
  .portfolio-title .glow-button {
    margin-top: 24px; }

.portfolio-title h4, .portfolio-title p {
  margin: 0;
  width: 100%; }

.portfolio-title h4 {
  margin: 0 0 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

@media (max-width: 991px) {
  .projects .content-layout {
    display: flex;
    flex-direction: column;
    gap: 80px; }
  .portfolio-item {
    flex-wrap: wrap; }
    .portfolio-item .project-showcase {
      width: 100%; } }

@media (max-width: 768px) {
  .hero .content-layout {
    grid-template-columns: 1fr 1fr 1fr; }
    .hero .content-layout img {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: span 1; }
    .hero .content-layout .content {
      grid-column-start: 2;
      grid-column-end: span 2;
      grid-row-start: 1;
      grid-row-end: span 1; }
    .hero .content-layout .ui {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 2;
      grid-row-end: span 2; }
    .hero .content-layout .front-end {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 4;
      grid-row-end: span 2; }
    .hero .content-layout .blog {
      grid-column-start: 2;
      grid-column-end: span 2;
      grid-row-start: 2;
      grid-row-end: span 3; }
    .hero .content-layout .roadmap {
      grid-column-start: 2;
      grid-column-end: span 2;
      grid-row-start: 5;
      grid-row-end: span 1; } }

@media (max-width: 600px) {
  .hero .content-layout {
    display: flex;
    flex-wrap: wrap; }
    .hero .content-layout img {
      width: 40%;
      flex-grow: 1;
      height: auto; }
    .hero .content-layout .content {
      width: 40%;
      flex-grow: 1; }
      .hero .content-layout .content h1 {
        font-size: 1.3em; }
      .hero .content-layout .content h3 {
        font-size: 0.9em; }
    .hero .content-layout .ui, .hero .content-layout .front-end, .hero .content-layout .blog, .hero .content-layout .roadmap {
      width: 100%; }
    .hero .content-layout .blog {
      height: 400px; }
    .hero .content-layout .roadmap img {
      width: 100%; } }

@media (max-width: 425px) {
  .portfolio-item {
    flex-wrap: wrap; }
    .portfolio-item .portfolio-title {
      padding: 16px; }
  .hero .content-layout > img {
    width: 100%;
    aspect-ratio: 1/1; }
  .hero .content-layout .content {
    width: 100%;
    order: -1; } }
