.portfolio-header {
  background: url("/img/wishes-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: -75px; }
  .portfolio-header::after {
    content: '';
    background: linear-gradient(0deg, #0f0f1a 0%, rgba(255, 255, 255, 0) 100%);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0; }
  .portfolio-header .content-layout {
    text-align: center;
    padding: 15rem 8rem;
    position: relative;
    z-index: 1; }
    .portfolio-header .content-layout .company-logo {
      max-width: 150px;
      margin-bottom: 24px; }

.portfolio-content .container {
  max-width: 800px; }

@media (max-width: 768px) {
  .portfolio-header .content-layout {
    padding: 10rem 0rem; } }
